{% extends 'layouts/page.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Verify Email{% endblock %}
{% block content %}

<div class="login my-auto">
    <form action="" method="POST" class="login-form">
        {% csrf_token %}
        <div class="title text-center">
            <h1>Verify Email</h1>
            <hr>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-secondary w-100 p-2">Verify Email</button>
        </div>
    </form>
</div>
<div class="wallpaper">
    <img src="{% static 'images/card_wp.jpg' %}" alt="">
</div>

{% endblock %}