{% extends 'layouts/page.html' %}
{% load widget_tweaks %}
{% load account socialaccount %}
<!-- Change made-->
{% block content %}
    <!--Reset Password-->

    <div class="container container_password">
        <div class="text-center my-4">

            <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-mw mx-auto w-100">
                <div class="form-group my-3 input-field">
                    {{form.email|add_class:"form-control"}}
                    <label for="" class="small">Email</label>
                </div>
                <button type="submit" class="btn btn-secondary w-100 p-2">Confirm Email</button>
            </div>
        </form>
    </div>
    <div class="wallpaper">
        <img src="../../../static/images/card_wp.jpg" alt="">
    </div>