{% extends 'layouts/page.html' %}
{% load widget_tweaks %}
{% load account socialaccount %}
<!-- Change made-->
{% block content %}
<div class="login my-auto">
    <div class="title text-center">
        <h1>Password Reset</h1>
        <hr>
    </div>
    <div class="container container_password mt-5">
        <div class="text-center mt-5">

            <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
            <h5>The Password has been reset.</h5>
            <a href="{% url 'account_login' %}" class="text-center">
                <p>Login</p>
            </a>
        </div>
    </div>
</div>
<div class="wallpaper">
    <img src="../../../static/images/card_wp.jpg" alt="">
</div>