{% extends 'layouts/quiz_page.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="login my-auto">
    <form action="" method="POST" class="login-form">
        {% csrf_token %}
        <div class="title text-center">
            <h1>Reset Password</h1>
            <hr>
        </div>
        <div class="my-3 text-center">
            <h3>The email has been sent to the registered email address.</h3>
        </div>
    </form>
</div>

{% endblock %}