{% extends 'layouts/page.html' %}
{% load widget_tweaks %}
{% load account socialaccount %}

<!-- Change made -->
{% block content %}
<div class="login my-auto">
    <div class="title text-center">
        <h1>Password Reset</h1>
        <hr>
    </div>

    <div class="container container_password">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
            <h5>The Password reset link has been sent to your account. Use that link to change your password</h5>
        </div>
    </div>
</div>
<div class="wallpaper">
    <img src="../../../static/images/card_wp.jpg" alt="">
</div>