{% extends 'layouts/quiz_page.html' %}
{% load widget_tweaks %}

<!-- Change made -->
{% block content %}
<div class="login my-auto">
    <form action="" method="POST" class="login-form">
        {% csrf_token %}
        <div class="title text-center">
            <h1>Email Verification</h1>
            <hr>
        </div>
        <div class="my-3 text-center">
            <h3>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
            </h3>
        </div>
    </form>
</div>

{% endblock %}