{% extends 'layouts/quiz_page.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="login my-auto">
  <form action="" method="POST" class="login-form">
    {% csrf_token %}
    <div class="title text-center">
      <h1>Sign In</h1>
      <hr>
    </div>
    <div class="form-group my-1 input-field">
      {{form.login|add_class:"form-control"}}
      <label for="" class="small">Username or email</label>
    </div>
    <div class="form-group my-1 input-field">
      {{form.password|add_class:"form-control"}}
      <label for="" class="small">Password</label>
    </div>
    <div class="mt-4">
      <button type="submit" class="btn btn-secondary w-100 p-2">Sign In</button>
    </div>
  </form>
</div>
{% endblock %}