body,
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: "Lato", sans-serif;
}

header {
  /* background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2704&q=80"); */
  background-image: url("https://lh3.googleusercontent.com/RWxnQPbPDhfh_POW0HQiadnzIkL9tI6_HCtD2hU_h0uwvHSKNdk3qm-PFPQSnuzr0RwUxXGd-3Pb4CQFPEguip8KE6KSj7jxBd7X=w1440-v1");
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: relative;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 0;
}

header p {
  font-size: 30px;
  margin: 0;
}

.bg-image {
  /* The image used */
  background-image: url("https://lh3.googleusercontent.com/RWxnQPbPDhfh_POW0HQiadnzIkL9tI6_HCtD2hU_h0uwvHSKNdk3qm-PFPQSnuzr0RwUxXGd-3Pb4CQFPEguip8KE6KSj7jxBd7X=w1440-v1");
  /* Add the blur effect */
  -webkit-filter: blur(3px);
          filter: blur(3px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 150px 25px;
  text-align: center;
}

.heading {
  height: 100%;
  width: 100%;
  color: black;
  position: relative;
  overflow: hidden;
  background-image: url("https://lh3.googleusercontent.com/RWxnQPbPDhfh_POW0HQiadnzIkL9tI6_HCtD2hU_h0uwvHSKNdk3qm-PFPQSnuzr0RwUxXGd-3Pb4CQFPEguip8KE6KSj7jxBd7X=w1440-v1");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.heading .heading-card {
  background-color: white;
  height: 400px;
  width: 800px;
  border-radius: 25px;
  margin: 10px;
  z-index: 10;
}

.heading .heading-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.heading .title {
  font-weight: bolder;
}

.about {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .left,
.about .right {
  width: 100%;
  height: 100%;
}

.about .left .image-container {
  width: 85%;
  height: 100%;
  margin: auto;
}

.about .left .image-container .about-img {
  width: 100%;
  height: 100%;
}

.about .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .right .content {
  margin: 20px;
}

.about .right .content h2 {
  font-size: 2rem;
}

.about .right .content p {
  font-size: 20px;
}

.features {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -150px;
}

.features .left,
.features .right {
  width: 100%;
  height: 100%;
}

.features .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .left .content {
  margin: 10px;
}

.features .left .content h2 {
  font-size: 2rem;
}

.features .left .content ul {
  font-size: 20px;
  text-align: left;
  list-style-type: circle;
  line-height: 2rem;
}

.features .left .content ul li {
  border-bottom: 1px solid white;
  padding: 10px;
}

.features .left .content ul li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.features .right .image-container {
  width: 85%;
  height: 100%;
  margin: auto;
}

.features .right .image-container .about-img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .heading::before {
    height: 1200px;
    width: 1200px;
    right: 30%;
    bottom: 10%;
  }
}

@media screen and (min-width: 600px) {
  .title h1 {
    font-size: 5em;
  }
  .about .right .content h2 {
    font-size: 3rem;
  }
  .about .right .content p {
    font-size: 1.5rem;
  }
  .features .left .content h2 {
    font-size: 3rem;
  }
  .features .left .content ul {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .heading::before {
    height: 800px;
    width: 800px;
    right: 10%;
    bottom: 60%;
  }
  .bg-text {
    padding: 100px 25px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .features .left .content ul li:hover {
    cursor: pointer;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=home.css.map */