body,
html {
  height: 100%;
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: "Lato", sans-serif;
}

.heading {
  height: 100%;
  width: 100%;
  background-image: url("../images/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-size: cover;
  color: white;
}

.about {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .left,
  .right {
    width: 100%;
    height: 100%;
  }
  .left {
    .image-container {
      width: 85%;
      height: 100%;
      margin: auto;
      .about-img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      margin: 20px;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

.features {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  .left,
  .right {
    width: 100%;
    height: 100%;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      margin: 10px;
      h2 {
        font-size: 2rem;
      }
      ul {
        font-size: 20px;
        text-align: left;
        list-style-type: circle;
        line-height: 2rem;
        li {
          border-bottom: 1px solid white;
          padding: 10px;
          &:hover {
            cursor: pointer;
            transform: scale(1.15);
          }
        }
      }
    }
  }
  .right {
    .image-container {
      width: 85%;
      height: 100%;
      margin: auto;
      .about-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  .title {
    h1 {
      font-size: 5em;
    }
  }
  .about {
    .right {
      .content {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  .features {
    .left {
      .content {
        h2 {
          font-size: 3rem;
        }
        ul {
          font-size: 1.5rem;
          font-weight: normal;
          line-height: 3.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    .right {
      // height: auto;
    }
  }
  .features {
    flex-direction: column;
    margin-top: 30px;
    .left {
      .content {
        ul {
          li {
            &:hover {
              cursor: pointer;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}