body,
html {
  height: 100%;
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: "Lato", sans-serif;
}

.heading {
  height: 100%;
  width: 100%;
  color: black;
  position: relative;
  overflow: hidden;

  .heading-card{
    background-color: white;
    height: 400px;
    width: 800px;
    border-radius: 25px;
    margin: 10px;
    z-index: 10;
    &:hover{
      transform: scale(1.1);
    }
  }

  .title{
    font-weight: bolder;
  }
  
  &::before{
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    right: 50%;
    bottom: 0%;
    border-radius: 50%;
    background: rgb(108,99,255);
    background: linear-gradient(45deg, #17aefd 0%, #1466e3 100%);
  }

  // &::after{
  //   content: "";
  //   position: absolute;
  //   height: 2000px;
  //   width: 2000px;
  //   border-radius: 50%;
  //   top: 10%;
  //   left: 30%;
  //   background-color: green;
  // }
}

.about {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .left,
  .right {
    width: 100%;
    height: 100%;
  }
  .left {
    .image-container {
      width: 85%;
      height: 100%;
      margin: auto;
      .about-img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      margin: 20px;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

.features {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  .left,
  .right {
    width: 100%;
    height: 100%;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      margin: 10px;
      h2 {
        font-size: 2rem;
      }
      ul {
        font-size: 20px;
        text-align: left;
        list-style-type: circle;
        line-height: 2rem;
        li {
          border-bottom: 1px solid white;
          padding: 10px;
          &:hover {
            cursor: pointer;
            transform: scale(1.15);
          }
        }
      }
    }
  }
  .right {
    .image-container {
      width: 85%;
      height: 100%;
      margin: auto;
      .about-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 1200px){
  .heading{
    &::before{
      height: 1200px;
      width: 1200px;
      right: 30%;
      bottom: 10%;
    }
  }
}

@media screen and (min-width: 600px) {
  .title {
    h1 {
      font-size: 5em;
    }
  }
  .about {
    .right {
      .content {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  .features {
    .left {
      .content {
        h2 {
          font-size: 3rem;
        }
        ul {
          font-size: 1.5rem;
          font-weight: normal;
          line-height: 3.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .heading{
    &::before{
      height: 800px;
      width: 800px;
      right: 10%;
      bottom: 60%;
    }
  }
  .about {
    flex-direction: column;
    .right {
      // height: auto;
    }
  }
  .features {
    flex-direction: column;
    margin-top: 30px;
    .left {
      .content {
        ul {
          li {
            &:hover {
              cursor: pointer;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}