body,
html {
  height: 100%;
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: "Lato", sans-serif;
}

.input-field{
    display: flex;
    flex-direction: column-reverse;

    label{
        color: #6c757d;
      }
  }