{% extends 'layouts/page.html' %}
{% load widget_tweaks %}
{% block title %}User Update{% endblock %}
{% block content %}

<div class="login my-auto">
    <div class="alert alert-danger text-center">
        {% for message in messages %}
        {% ifequal message.tags "detail warning" %}
        <h4>{{ message }}</h4>
        {% endifequal %}
        {% endfor %}
    </div>
    <form action="" method="POST" class="login-form">
        {% csrf_token %}
        {% if form.errors %}
        {% for key, value in form.errors.items %}
        <div class="alert alert-danger text-center">
            {{value}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="title text-center">
            <h1>Update Details</h1>
            <hr>
        </div>
        <div class="form-group my-1 input-field">
            {{form.first_name|add_class:"form-control"}}
            <label for="" class="small">First Name</label>
        </div>
        <div class="form-group my-1 input-field">
            {{form.last_name|add_class:"form-control"}}
            <label for="" class="small">Last Name</label>
        </div>
        <div class="form-group my-1 input-field">
            {{form.roll_no|add_class:"form-control"}}
            <label for="" class="small">Roll No</label>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-secondary w-100 p-2">Update Details</button>
        </div>
    </form>
</div>
<div class="wallpaper">
    <img src="../../../static/images/card_wp.jpg" alt="">
</div>

{% endblock %}