{% extends 'layouts/normal_page.html' %}
{% block content %}
<div class="container mt-4">
  <a href="{% url 'new-question' %}" class="btn btn-primary w-100 p-3">Create Question</a>
</div>
<div class="container">
  <form action="" class="row my-5">
    <div class="form-group input-field col-lg-4">
      <input type="text" class="form-control">
      <label for="">bam</label>
    </div>
    <div class="form-group input-field col-lg-4">
      <input type="text" class="form-control">
      <label for="">bam</label>
    </div>
    <div class="form-group input-field col-lg-4">
      <input type="text" class="form-control">
      <label for="">bam</label>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <button type="submit" class="btn btn-secondary w-50">Filter Questions</button>
    </div>
  </form>
</div>
<div class="container">
  {% for question in object_list %}
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'question' question.slug %}">{{question.title}}</a></h5>
      <div>
        <p class="card-text text-right">By {{question.author}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}